In [1]:
"x" * 8

'xxxxxxxx'

In [3]:
'a\n\tb'

'a\n\tb'

In [4]:
print('a\n\tb')

a
	b

### commonly used string methods
-- split and join

In [5]:
" ".join (["join", "put", "spaces", "between", "these", "lists"])

'join put spaces between these lists'

In [6]:
",".join (["join", "put", "spaces", "between", "these", "lists"])

'join,put,spaces,between,these,lists'

In [9]:
# new part 
#  on split we can specify to what extent splits should split the joined string using 02nd optional argument
x = 'a b c d'
print(x.split())
print(x.split(None, 1)) # we externaly specified how many splits to perform
# if the number of splits are more than length of string than it perfrom the spliting over the complete string

['a', 'b', 'c', 'd']
['a', 'b c d']

### Exercise :- use split and join to perform changing :- 
"this is a test" to "this-is-a-test"

In [10]:
str = "this is a test"
"-".join(str.split(None))

'this-is-a-test'

In [27]:
int('G', 17)

16

In [32]:
# exercise on coverting string to int or float
# int('a1')  # error a is char
# int('12G', 16) # error G is not included for base-16
float("12345678901234567890") 
# int("12*2") # error as * is char

1.2345678901234567e+19